<!-- Footer -->
<footer class="footer mt-auto py-3 text-center">
    <div class="container">
        <span class="text-muted">&copy; @Config.CompanyName. All rights reserved.</span>
    </div>
</footer>